/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  background: #333;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
} */
