<section class="w-[90%] md:w-full max-w-fit mx-auto py-20 md:pt-36">
  <h2
    class="text-6xl md:text-8xl font-bold capitalize text-left md:text-center text-white"
  >
    quidem impedit.
    <span class="text-blue-600">visibility</span> deserve
  </h2>
  <div class="text-left md:text-center">
    <a
      href="#addContactForm"
      class="mt-8 inline-block bg-blue-600 text-white py-2 px-4 rounded"
      >Join</a
    >
    <a
      href="/about"
      class="mt-8 inline-block bg-blue-600 text-white py-2 px-4 rounded"
      >Download</a
    >
  </div>
</section>
<section class="flex flex-col gap-4">
  <div
    class="glass_bg flex justify-between items-center max-w-4xl mx-auto px-4 bg-transparent py-2 w-[90%] rounded-lg text-white"
  >
    <div class="w-3/5 flex-1">
      <h3 class="text-2xl font-semibold leading-7 capitalize">
        Get new customers
      </h3>
      <p class="text-lg leading-6 mt-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
      </p>
    </div>
    <img src="/img/phone-add.svg" alt="buy icon" class="w-25" />
  </div>
  <div
    class="glass_bg flex justify-between items-center max-w-4xl mx-auto px-4 bg-transparent py-2 w-[90%] rounded-lg text-white"
  >
    <div class="w-3/5 flex-1">
      <h3 class="text-2xl font-semibold leading-7 capitalize">
        Built for everyone
      </h3>
      <p class="text-lg leading-6 mt-1">
        Friends, network, and family. Lorem ipsum dolor sit amet consectetur
      </p>
    </div>
    <img src="/img/people.svg" alt="buy icon" class="w-25" />
  </div>
</section>
<section class="w-[90%] md:w-full mx-auto py-10 text-white">
  <h2 class="text-3xl font-bold text-center text-blue-700">How it works</h2>
  <div class="flex flex-col gap-8 mt-8 text-center">
    <div>
      <p class="text-2xl font-semibold leading-7 capitalize">
        Fill your information
      </p>
    </div>
    <div class="text-2xl font-semibold leading-7 capitalize">
      <p>Get a secret passkey</p>
    </div>
    <div class="text-2xl font-semibold leading-7 capitalize">
      <p>Download vcf using your passkey</p>
    </div>
  </div>
</section>
<section class="w-[90%] mx-auto"><%- include('./partials/form') %></section>
